<div
  [routerLink]="['/characters', character.id]"
  class="group bg-gray-800 rounded-2xl overflow-hidden border border-gray-700 hover:border-green-500/50 transition-all duration-300 shadow-xl hover:shadow-green-900/20 cursor-pointer"
>
  <div class="relative overflow-hidden">
    <img
      [src]="character.imageUrl"
      [alt]="character.name"
      class="w-full h-64 object-cover transition-transform duration-500 group-hover:scale-110"
    />

    <div
      class="absolute top-4 right-4 px-3 py-1 rounded-full text-xs font-black uppercase tracking-widest shadow-lg"
      [ngClass]="{
        'bg-green-500 text-green-950': character.status === 'Alive',
        'bg-red-500 text-white': character.status === 'Dead',
        'bg-gray-600 text-gray-200': character.status === 'unknown',
      }"
    >
      {{ character.status }}
    </div>
  </div>

  <div class="p-5">
    <div class="mb-4">
      <h3
        class="text-2xl font-black text-white group-hover:text-green-400 transition-colors truncate"
      >
        {{ character.name }}
      </h3>
      <p class="text-gray-400 font-medium italic text-sm">
        {{ character.species }} — {{ character.gender }}
      </p>
    </div>

    <div class="space-y-4 border-t border-gray-700/50 pt-4">
      <div>
        <span class="text-[10px] font-bold text-gray-500 uppercase tracking-widest block mb-1">
          Last Known Location
        </span>
        <span class="text-gray-200 text-sm font-semibold block truncate">
          {{ character.locationName }}
        </span>
      </div>

      <div>
        <span class="text-[10px] font-bold text-gray-500 uppercase tracking-widest block mb-1">
          First Seen In
        </span>
        <span class="text-gray-200 text-sm font-semibold block truncate">
          {{ character.originName }}
        </span>
      </div>
    </div>

    <div class="mt-4 flex justify-end opacity-0 group-hover:opacity-100 transition-opacity">
      <span class="text-green-500 text-xs font-bold uppercase tracking-tighter"
        >View Details →</span
      >
    </div>
  </div>
</div>
