<div class="min-h-screen bg-gray-900 p-8 text-white">
  <nav class="mb-12">
    <button
      routerLink="/episodes"
      class="text-purple-500 font-bold uppercase tracking-widest text-xs hover:text-purple-400"
    >
      ← Return to Archive
    </button>
  </nav>

  @if (facade.selectedEpisode$ | async; as ep) {
    <header class="mb-12 border-l-4 border-purple-500 pl-8">
      <span class="text-purple-500 font-mono font-bold">{{ ep.episodeCode }}</span>
      <h1 class="text-6xl font-black uppercase italic tracking-tighter">{{ ep.name }}</h1>
      <p class="mt-2 text-gray-400 font-mono text-sm uppercase italic">
        Air Date: {{ ep.airDate }}
      </p>
    </header>

    <main>
      <h2
        class="text-3xl font-black uppercase italic tracking-tighter text-green-500 mb-8 border-b border-gray-800 pb-4"
      >
        Characters in this Episode
      </h2>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
        @for (char of facade.characters$ | async; track char.id) {
          <app-character-card [character]="char"></app-character-card>
        } @empty {
          @if (facade.loading$ | async) {
            <div class="col-span-full py-20 text-center animate-pulse text-purple-500 font-mono">
              RETRIEVING CHARACTER DATA...
            </div>
          }
        }
      </div>
    </main>
  }
</div>
